apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy
  namespace: medical
  labels:
    app: proxy
    demo: roadshow
    repo: demo-apps
spec:
  replicas: 1
  selector:
    matchLabels:
       app: proxy
  template:
    metadata:
     labels:
       app: proxy
       demo: roadshow
       repo: demo-apps
    spec:
      imagePullSecrets:
      - name: rhacs-demo-pull-pull-secret
      containers:
      - image: quay.io/rhacs-demo/proxy:latest
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
        command: ["/bin/entrypoint"]
        imagePullPolicy: Always
        name: proxy

