apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitor
  namespace: frontend
  labels:
    app: monitor
    demo: roadshow
    repo: demo-apps
spec:
  replicas: 1
  selector:
    matchLabels:
       app: monitor
  template:
    metadata:
     labels:
       app: monitor
       demo: roadshow
       repo: demo-apps
    spec:
      imagePullSecrets:
      - name: rhacs-demo-pull-pull-secret
      containers:
      - image: quay.io/rhacs-demo/monitor:latest
        imagePullPolicy: Always
        name: monitor

