apiVersion: apps/v1
kind: Deployment
metadata:
  name: log4shell
  namespace: log4shell
  labels:
    demo: roadshow
    repo: demo-apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log4shell
  template:
    metadata:
      labels:
        app: log4shell
        demo: roadshow
        repo: demo-apps
    spec:
      containers:
      - name: log4shell
        image: quay.io/mfoster/log4shell:0.1.0
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
      volumes:
      - name: tmp
        emptyDir: {}

