apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: rox-image-check
  namespace: pipeline-demo
spec:
  params:
    - name: rox_central_endpoint
      type: string
      description: Secret name containing the address:port for StackRox Central (e.g. rox.stackrox.io:443)
    - name: rox_api_token
      type: string
      description: Secret name containing the StackRox API token with CI permissions
    - name: image
      type: string
      description: Full name of image to check (e.g. quay.io/user/app:tag)
  results:
    - name: check_output
      description: Output of roxctl image check
  steps:
    - name: check
      image: quay.io/stackrox-io/roxctl:latest
      env:
        - name: ROX_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: $(params.rox_api_token)
              key: rox_api_token
        - name: ROX_CENTRAL_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: $(params.rox_central_endpoint)
              key: rox_central_endpoint
        - name: GRPC_ENFORCE_ALPN_ENABLED
          value: "FALSE"
      command:
        - /bin/sh
        - -c
      args:
        - |
          set -e
          roxctl image check --insecure-skip-tls-verify \
            -e "$ROX_CENTRAL_ENDPOINT" \
            --image "$(params.image)"
